<section class="page" id="menu-content">
  <h1>Our Menu</h1>
  <p>Explore our delicious offerings from appetizers to desserts.</p>
  <div class="menu-grid">
    <div class="menu-item">
      <img src="images/grilled-chicken.jpg" alt="Grilled Chicken" />
      <div class="menu-overlay">
        <h3>Grilled Chicken</h3>
        <p>$15.99</p>
      </div>
    </div>
    <div class="menu-item">
      <img src="images/mac-and-cheese.jpg" alt="Mac & Cheese" />
      <div class="menu-overlay">
        <h3>Mac & Cheese</h3>
        <p>$12.99</p>
      </div>
    </div>
    <div class="menu-item">
      <img src="images/margherita-pizza.jpeg" alt="Margherita Pizza" />
      <div class="menu-overlay">
        <h3>Margherita Pizza</h3>
        <p>$10.99</p>
      </div>
    </div>
    <div class="menu-item">
      <img src="images/prawn-fried-rice.jpg" alt="Prawn Fried Rice" />
      <div class="menu-overlay">
        <h3>Prawn Fried Rice</h3>
        <p>$10.99</p>
      </div>
    </div>
    <div class="menu-item">
      <img src="images/chappati.jpg" alt="Chappati" />
      <div class="menu-overlay">
        <h3>Chappati</h3>
        <p>$10.99</p>
      </div>
    </div>
    <div class="menu-item">
      <img src="images/fish-and-chips.jpg" alt="Fish & Chips" />
      <div class="menu-overlay">
        <h3>Fish & Chips</h3>
        <p>$10.99</p>
      </div>
    </div>
  </div>
</section>
